* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    padding: 3% 0%;
}

.text1 {
    font-size: 2.5rem;
    color: grey;
}

.text2 {
    font-size: 2.6rem;
    color: black;
}

.text3 {
    font-size: 1rem;
    color: gray;
    text-align: center;
}

.box {
    height: 60vh;
    display: flex;
}

.box1 {
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1__1 {
    display: flex;
    flex-direction: column;
    border-top: 4px solid aqua;
    width: 50%;
    height: 35%;
    gap: 20px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 15px;
}

.box2 {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2__1 {
    display: flex;
    flex-direction: column;
    border-top: 4px solid red;
    width: 50%;
    height: 35%;
    gap: 20px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.box2__2 {
    display: flex;
    flex-direction: column;
    border-top: 4px solid yellow;
    width: 50%;
    height: 35%;
    gap: 20px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

.box3 {
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3__1 {
    display: flex;
    flex-direction: column;
    border-top: 4px solid blue;
    width: 50%;
    height: 35%;
    gap: 20px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 15px;
}

h3 {
    text-align: start;
}

.image {
    width: 100%;
    display: flex;
    justify-content: end;
}

img {
    width: 60px;
    
}

@media screen and (max-width: 750px){

	.text1 {
		font-size: 1.3rem;
	}

    .text2 {
		font-size: 1.5rem;
	}

    .text3 {
		font-size: 0.7rem;
	}

    .header {
        display: flex;
        margin-top: 1%;
    }

	.box {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 10vh;
        align-items: center;
    }

    .box1 {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1__1 {
        height: 30vh;
    }

    .box2 {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box2__1 {
        height: 30vh;
        margin-top: -5vh;
    }
    

    .box2__2 {
        height: 30vh;
    }

    .box3 {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box3__1 {
        height: 30vh;
        margin-top: -5vh;
        margin-bottom: 1vh;
    }
    
}


